@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
  /* height: 4px; */
}
/* Calendar input styles for cross-browser compatibility */
::-webkit-calendar-picker-indicator {
  opacity: 1;
  cursor: pointer;
  padding: 2px;
  display: block !important; /* Force display on all browsers */
  color-scheme: light; /* Ensures visibility in dark mode */
  background-color: transparent;
}

input[type="date"] {
  position: relative;
  background-color: white;
  padding: 4px 24px 4px 4px; /* Add right padding for the calendar icon */
  color: #27272a;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-family: inherit;
  appearance: none; /* Reset browser appearance */
  -webkit-appearance: none; /* For Safari */
}

input[type="date"]::-webkit-datetime-edit {
  padding: 0;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

input[type="date"]::-webkit-datetime-edit-text {
  padding: 0 2px;
}

input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  padding: 0;
}

/* Firefox specific styles */
@-moz-document url-prefix() {
  input[type="date"] {
    min-height: 28px;
  }
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/Tahoma.ttf") format("truetype");
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal; /* Optional: Specify font style */
}

.tahoma {
  font-family: "Tahoma", monospace; /* Fallback to sans-serif */
}

body {
  color: #27272a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .custom-input {
    @apply input input-sm text-xs text-zinc-700 input-bordered bg-white focus:outline-primary focus:border-zinc-100;
  }
  .custom-textarea {
    @apply textarea textarea-bordered w-auto resize-none text-xs bg-zinc-50 focus:outline-primary focus:border-primary;
  }
  .primary-text {
    @apply text-xs text-zinc-500;
  }
  .highligth-text {
    @apply text-xs text-zinc-600 font-semibold;
  }
}